<p>
  <b>Date start:</b>
  <%= date_start %>
</p>

<p>
  <b>Date end:</b>
  <%= date_end %>
</p>

<p>
  <b>X:</b>
  <%= x %>
</p>

<p>
  <b>Measure:</b>
  <%= measure %>
</p>

<p>
  <b>Type:</b>
  <%= type %>
</p>


<a href="#/index">Back</a>