<td><%= date_start %></td>
<td><%= date_end %></td>
<td><%= x %></td>
<td><%= measure %></td>
<td><%= type %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>